.box {
    text-align: center;
}

.titleBox{
    text-align: center;
    text-shadow:10px 10px 0px #9AABBE;
    font-size:80px;
    font-family: Consolas;
    color: #4B3376;
}

body{
    background-color:#d5d5e2;
} 

.calendarTable{
    width: 200px;
    margin: 30px 30px 30px 30px;
}

.monthString{
    font-size: 30px;
    color: #9AABBE;
}

.daysTable{
    width: 200px;
    font-size: 10px;
    color: #BDCAD1;
    text-align: center;
}

.dateTable{
    width: 200px;
    height: 160px;
    text-align: center;
    font-size: 16px;
    background-color: #60639A;
    color: #BDCAD1;
}

.todateCell{
    background-color: #9AABBE;
    color: #4B3376;
}

.titleBox{
    margin-top: 100px;
}

.calendarBox{
    width: 100%;
    background-color: #4B3376;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

